.block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    /* background-color: red; */

    position: relative;
    height: 100%;
    max-width: 1200px;
    min-width: 1200px;
}

.bgImage {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
}